@model IEnumerable<ActionResultInMvc_Demo.Models.Product>

@{
    ViewBag.Title = "MyView";
}

<h2>List of Products</h2>
<button class="btn btn-sm btn-primary rounded-0">Click me</button>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("button").click(function () {
            $.getScript("/Home/MyScript");
        });
    });
</script>




